/* /* css requirements: 
 1. must use the :hover selector 
 2. must use css GRID to organize some content
 3. when the screen is a different size, it should have visual changes. 
*/

/* design ideas: 
   1. find cool fonts for the page
   2. research cool background 
   3. add animation to the btn */

.hidden {
  display: none;
}

.about-link {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-left: 5%;
  margin-top: 5%;
  cursor: pointer;
}

.about-link :hover {
  color: rgb(63, 92, 93);
}

#home-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
}

#generate-joke-btn {
  font-size: 15px;
  padding: 12px 24px;
  /* margin-top: 10px; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(132, 98, 144, 0.838);
  text-decoration-color: rgb(75, 63, 73);
  cursor: pointer;
  border-radius: 20%;

  /* add an arrow animation */
}

#another-joke-screen {
  display: grid;
  margin: auto;
}

h2 #joke-screen {
  font-size: 3rem;
  place-content: center;
}

#next-joke-text {
  padding: 5%;
  padding-left: 10%;
  font-size: larger;
}

#another-joke-btn {
  padding: 8px 10px;
  margin-left: 45%;
  margin-right: 30%;
  background-color: rgba(238, 228, 228, 0.831);
  cursor: pointer;
  border-color: rgba(238, 228, 228, 0.874);
  border-radius: 20%;
}
button:hover {
  /* width: 200px; */
  border: 2px solid rgba(238, 228, 228, 0.831);
  /* background: transparent; */
  color: rgba(165, 138, 138, 0.831);
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 30%;
}
/* P#next-joke-text {
  padding: 10%;
  border: 2px solid rgba(173, 157, 169, 0.741);
  background-color: rgba(226, 216, 218, 0.546);
  margin: 5%;
  text-size-adjust: large;
} */

.box {
  width: 500px;
  height: 200px;
  border: 2px solid rgba(127, 109, 109, 0.657);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: grid;
  place-items: center; */
  background-color: rgba(202, 187, 194, 0.301);
}

/* background image links*/
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

/* additional.html styling */
.about-h1 {
  margin: 20px;
  font-size: medium;
}

.text {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.about-me-page {
  display: grid;
  grid-template-columns: [first] 100% auto 1fr;
  grid-template-rows: [row1-start] 25% auto 1fr;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
  margin: 0;
}

.about-h1 {
  grid-area: header;
  margin-top: 80px;
  text-align: center;
}

.website-description {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: 20px;
}
/* .website-description {
  padding: 10px;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
} */

.text1 {
  margin-left: 70px;
  margin-right: 10px;
  font-size: large;
  line-height: 170%;
}

/* h2 {
  font-size: larger;
} */
.about-me {
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 60px;
  line-height: 170%;
}

@media (max-width: 768px) {
  .website-description {
    grid-template-columns: 1fr;
  }
}
